/* Start Variables */
:root{
    --background-color:hsl(217, 54%, 11%);
    --card-color:hsl(216, 50%, 16%);
    --main-color: hsl(178, 100%, 50%);
    --line: hsl(215, 32%, 27%);
    --soft-blue: hsl(215, 51%, 70%);
    --white: hsl(0, 0%, 100%);
}
/* End variables */
/* Global rules */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* End rules */
body{
    background-color: var(--background-color);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit",sans-serif;
}
.container{
    padding: 20px;
    width: 330px;
    background-color: var(--card-color);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.image{
    position: relative;
}
.image .main-img{
    border-radius: 3%;
    width:100%;
    height: 100%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.image div{
    width:100%;
    height: 100%;
    border-radius: 3%;
    position: absolute;
    top:0;
    left:0;
    background-color: hsla(178, 100%, 50%, 50%);
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    opacity: 0;
}
.image div img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.image div:hover{
    cursor: pointer;
    opacity: 1;
}
h2{
   margin:20px 0px 15px 0px;
    color: var(--white);
}
.container> p{
    margin-bottom:5px;
    color:var(--soft-blue);
    font-size: 18px;
    line-height: 1.8;
    font-weight:300;
}
.icons{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight:400;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--line);
    margin-bottom: 15px;
    padding-bottom: 3px;

}
.icons .icon1,
.icons .icon2{
   display: flex;
   align-items: center;
} 

.icons .icon1 p{
    color: var(--main-color);
    padding-left:5px;
}
.icon1 img,
.icon2 img{
    width:auto;
    height: auto;
}
.icons .icon2 p{
    color: var(--soft-blue);
    padding-left:5px;
}
.creator{
    display: flex;
    align-items: center;
}
.creator p{
    color:var(--soft-blue);
    font-size: 18px;
}
.creator p span{
    color: var(--white);
    padding-left: 3px;
    font-size: 18px;
}
.creator .avatar{
    width:40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.creator span:hover,
h2:hover{
    cursor: pointer;
    color: var(--main-color);
}